@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("satoshi.css"); */

#root {
  font-family: "Satoshi", sans-serif;
  /* font-family: "Satoshi-Variable";
  font-family: "Satoshi-VariableItalic";
  font-family: "Satoshi-Light";
  font-family: "Satoshi-LightItalic";
  font-family: "Satoshi-Regular";
  font-family: "Satoshi-Italic";
  font-family: "Satoshi-Medium";
  font-family: "Satoshi-MediumItalic";
  font-family: "Satoshi-Bold";
  font-family: "Satoshi-BoldItalic";
  font-family: "Satoshi-Black";
  font-family: "Satoshi-BlackItalic"; */
  margin: 0 auto;
}

@responsive {
  .gradient {
    background: linear-gradient(
      121.87deg,
      #060606 15.05%,
      rgba(55, 57, 57, 0.93) 61.84%
    );
  }
}

.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  color: black;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.change-bold {
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
}
